<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home Page</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<body>
    <div class="topnav">
        <a class="active" href="/">Home</a>
        <a href="create">Create Users</a>
    </div>

    <!-- table -->
    <h1 class="table_h1">Users List</h1>

    <table id="customers">
        <tr>
            <th>ID</th>
            <th>Email</th>
            <th>Name</th>
            <th>City</th>
            <th>Action</th>
        </tr>
        <% rows.forEach(row=> { %>
            <tr>
                <td>
                    <%= row.id %>
                </td>
                <td>
                    <%= row.email %>
                </td>
                <td>
                    <%= row.name %>
                </td>
                <td>
                    <%= row.city %>
                </td>
                <td>
                    <a href="/edit_user/<%= row.id %>">Edit</a>
                    <form action="/delete_user/<%= row.id %>" method="POST">
                        <button id="delete_button">Delete</button>
                    </form>
                </td>
            </tr>
            <% }); %>
    </table>
</body>

</html>